body {
  background-image: url("../gfx/bg.jpg");
  background-size: cover; 
  -ms-background-size: cover; 
  -o-background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover;
}
